/* TODO: use sass */

.my-blue-fg { color: #4BBCF6; }
.my-green-fg { color: #98E466; }
.my-yellow-fg { color: #FBEF69; }
.my-red-fg { color: #FA6766; }
.my-purple-fg { color: #B97CFF; }

.my-blue-bg { background-color: #4BBCF6; }
.my-green-bg { background-color: #98E466; }
.my-yellow-bg { background-color: #FBEF69; }
.my-red-bg { background-color: #FA6766; }
.my-purple-bg { background-color: #B97CFF; }

.ng-valid[required] {
  border-left: 5px solid #98E466; /* green */
}
.ng-invalid[required] {
  border-left: 5px solid #FA6766; /* red */
}
.ng-dirty {
  border-right: 5px solid #FBEF69; /* yellow */
}

.holiday {
  color: #FA6766; /* red */
}

.log-list,.log-list-header {
  padding: 1em 0;
}

/*
 * fix bootstrap style
 */

input[type="time"].form-control-sm {
  padding: .275rem .75rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}
